@charset "utf-8";

@charset "utf-8";

table{
	border-collapse: collapse;
}
td {
	width: 8px;
	height: 8px;
}
td.black,
#td-7-4, #td-7-5, #td-7-7, #td-8-7, #td-8-8,
#td-7-13, #td-7-18, #td-7-24, #td-7-25, #td-8-3, #td-8-12, #td-8-14, #td-8-15, #td-8-16, #td-8-17, #td-8-24, #td-9-4, #td-9-5, #td-9-6, #td-9-9, #td-9-10, #td-9-11, #td-9-15, #td-9-16, #td-9-17, #td-9-18, #td-9-19, #td-9-20, #td-9-25, #td-10-6, #td-10-7, #td-10-14, #td-10-21, #td-10-25, #td-11-5, #td-11-8, #td-11-13, #td-11-26, #td-12-5, #td-12-8, #td-12-13, #td-12-17, #td-12-18, #td-12-19, #td-12-26, #td-13-5, #td-13-6, #td-13-7, #td-13-14, #td-13-15, #td-13-16, #td-13-20, #td-13-21, #td-13-26, #td-14-4, #td-15-4, #td-16-4, #td-17-4, #td-18-13, #td-19-13, #td-17-14, #td-20-14, #td-21-14, #td-17-15, #td-18-16, #td-19-16, #td-19-17, #td-20-17, #td-21-17,
#td-18-18, #td-17-19, #td-17-20, #td-18-21, #td-19-22, #td-18-23, #td-20-23,
#td-18-2, #td-18-3, #td-18-5, #td-19-1, #td-20-1, #td-21-2, #td-22-3, #td-23-4, #td-23-5, #td-24-6, #td-24-7, #td-19-4, #td-19-5, #td-20-6, #td-21-7, #td-22-8, #td-23-8, #td-22-9, #td-23-10, #td-23-11, #td-23-12, #td-22-13, #td-23-13, #td-24-14, #td-24-15, #td-22-16, #td-23-16, #td-23-17, #td-23-18, #td-24-19, #td-24-20, #td-24-21, #td-14-22, #td-14-23, #td-15-23, #td-15-24, #td-16-23, #td-17-23, #td-14-27, #td-15-27, #td-16-27, #td-17-27, #td-18-26, #td-19-26,
#td-23-22, #td-24-22, #td-23-23, #td-22-24, #td-21-25, #td-20-26
{
	background-color: #000;
}
td.brown,
#td-7-8, #td-7-14, #td-7-23, #td-8-9, #td-8-18, #td-11-6, #td-11-25, #td-14-26, #td-17-26, #td-19-25,
#td-19-2, #td-22-7, #td-23-6, #td-23-7, /* 右足 */
#td-18-14, #td-19-14, #td-18-15, #td-23-14, #td-23-15, /* 左足 */
#td-18-20, #td-22-17, #td-23-19, #td-23-21 /* ふともも */
{
	background-color: #E6BF51;
}
td.yellow,
#td-7-9, #td-7-10, #td-7-11, #td-7-12, #td-7-15, #td-7-16, #td-7-17, #td-7-19, #td-7-20, #td-7-21, #td-7-22, #td-8-10, #td-8-11, #td-8-19, #td-8-20, #td-8-21, #td-8-22, #td-8-23, #td-9-21, #td-9-22, #td-9-23, #td-9-24, #td-10-15, #td-10-16, #td-10-17, #td-10-18, #td-10-19, #td-10-20, #td-10-22, #td-10-23, #td-10-24, #td-11-7, #td-11-14, #td-11-15, #td-11-16, #td-11-17, #td-11-18, #td-11-19, #td-11-20, #td-11-21, #td-11-22, #td-11-23, #td-11-24, #td-12-6, #td-12-7, #td-12-14, #td-12-15, #td-12-16, #td-12-20, #td-12-21, #td-12-22, #td-12-23, #td-12-24, #td-12-25, #td-13-22, #td-13-23, #td-13-24, #td-13-25, #td-14-24, #td-14-25, #td-15-25, #td-15-26, #td-16-24, #td-16-25, #td-16-26, #td-17-24, #td-17-25, #td-18-24, #td-18-25, #td-19-23, #td-19-24, #td-19-3,
#td-20-2, #td-20-3, #td-20-4, #td-20-5, #td-21-3, #td-21-4, #td-21-5, #td-21-6, #td-22-4, #td-22-5, #td-22-6,
#td-19-15, #td-20-15, #td-20-16, #td-21-15, #td-21-16, #td-22-14, #td-22-15,  /* 左足 */
#td-18-19, #td-19-18, #td-19-19, #td-19-20, #td-19-21, #td-20-18, #td-20-19, #td-20-20, #td-20-21, #td-20-22,
#td-21-18, #td-21-19, #td-21-20, #td-21-21, #td-21-22, #td-21-23,
#td-22-18, #td-22-19, #td-22-20, #td-22-21, #td-22-22, #td-22-23, #td-21-24, #td-20-24, #td-20-25,
#td-23-20  /* ふともも */
{
	background-color: #FFD301;
}
td.red,
#td-7-6, #td-8-4{
	background-color: #CE6600;
}

td.orange,
#td-8-5, #td-8-6{
	background-color: #FF8800;
}

td.navy,
#td-8-13, #td-9-7, #td-9-13, #td-9-14, #td-13-18, #td-13-19, #td-14-18, #td-14-19, #td-14-20, #td-14-21, #td-15-18, #td-15-19, #td-15-20, #td-15-21, #td-15-22, #td-16-18, #td-16-19, #td-16-20, #td-16-21, #td-16-22, #td-17-17, #td-17-18, #td-17-21, #td-17-22, #td-18-17, #td-18-22,
#td-21-8, #td-21-9, #td-21-10, #td-21-11, #td-21-12, #td-21-13, #td-22-10, #td-22-11, #td-22-12 /* ボールの下の影 */
{
	background-color: #005686;
}

td.light-blue,
#td-9-8, #td-9-12, #td-10-13, #td-11-9, #td-11-10, #td-11-11, #td-11-12, #td-12-11, #td-12-12, #td-13-8, #td-13-10, #td-13-11, #td-13-12, #td-13-17, #td-14-5, #td-14-8, #td-14-9, #td-14-11, #td-14-12, #td-14-14, #td-14-16, #td-14-17, #td-15-5, #td-15-8, #td-15-11, #td-15-13, #td-15-14, #td-15-16, #td-15-17, #td-16-5, #td-16-7, #td-16-9, #td-16-11, #td-16-13, #td-16-14, #td-16-16, #td-16-17, #td-17-5, #td-17-7, #td-17-9, #td-17-11, #td-18-16,
#td-18-6, #td-18-8, #td-18-9, #td-18-10, #td-18-12,
#td-19-6, #td-19-7, #td-20-7, #td-20-8, #td-20-9, #td-20-10, #td-20-11, #td-20-12, #td-20-13
{
	background-color: #006F9E;
}

td.gray,
#td-14-6, #td-15-6, #td-16-6, #td-17-6,
#td-18-7,
#td-15-9,
#td-15-12, #td-16-12, #td-17-12
{
	background-color: #BDBDBD;
}
